<html>
  <head>
  <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>Result!</h1>
    <ul>
        <%= "STARTDATE " + startDate %>
    </ul>
    <ul>
        <%= "ENDDATE " + endDate %>
    </ul>
    <ul>
        <%= "TITLE " + title_name %>
    </ul>
    <ul>
        <%= "STARTDATE " + where %>
    </ul>
    <h2>Image!</h2>
    <div>
        <img src = "/imgs" />
    </div>
  </body>
</html>
